.theme_color_project-inverse{
    --color-bg-default: #000000;
    --color-bg-accent: #FFFFFF;
    --color-bg-border: #FFFFFF;

    --color-typo-main: #FFFFFF;
    --color-typo-secondary: rgba(255, 255, 255, 0.6);
    --color-typo-additional: rgba(255, 255, 255, 0.3);
    --color-typo-path: #0077ff;
}